*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(171, 210, 214);
}




/* styling the nav */
/* styling the nav */
/* styling the nav */

nav{
    height: 7vh;
    background-color: black;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
}
nav ul{
    width: 100%;
    list-style-type: none;
}


.picdiv{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}




/* here grabing the direct child of 
.img class using a greater than sign */

.img>img{
    height: 40vh;
    object-fit:fill;
    display: none;
}
.picdiv h1{
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    text-decoration: underline;
}


/* the container(.tictaccontainer) that contains .tictac */
.tictaccontainer{
    display: flex;
    width: 80vw;
    margin: 0 auto;
    padding: 20px;

}
.tictac{
    height: calc(100vh - 44vh);
    background-color: rgb(236, 222, 222);
    width: 30%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    margin: 0 auto;
    padding: 2vh;
    font-size: 46px;
    box-shadow: 1px 1px 20px rgb(44, 47, 49);
}




/* we can grab an attribute of a tag like this */
/* using of ^ means every class name that starts with box */
/* there are other ways to grab attributes check mdn(search: grabbing attributes in css mdn)*/
[class^=box]{
    background-color: rgb(236, 222, 222);
    border: 2px solid rgb(31, 25, 25);
    /* display: grid; */
    text-align: center;
    position: relative;
}
[class^=box]:hover{
    background-color: #a37070;
}





.box .boxtext{
    border: none;
    position: absolute;
    left:35%;
    top: 19%;
}
.game-info{
    background-color: rgb(214, 18, 214);
    font-size: 20px;
    font-weight: 1000;
    display: flex;
    left: 45vw;
    width: 500px;
    margin: 0 auto;
}
.game-info .btn>button{
    width: 200px;
    height: 100%;
    padding: 5px;
    z-index: 1000;
}
.info{
    border: 2px solid red;
    width: 300px;
    text-align: center;
    color: white;
    font-weight: 1000;
    font-family: sans-serif;
}





/* utlity classes */
/* utlity classes */
/* utlity classes */
/* created just to use anywhere in the html where required */
.br-0{
    border-right: 0;
}
.bb-0{
    border-bottom: 0;
}   
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}

/* utlity classes */
/* utlity classes */
/* utlity classes */
